body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  font-size: 20px;
  font-weight: 500px;
  line-height: 25px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.weather-app {
  padding: 30px;
  border: 1px solid #908d8d;
  border-radius: 10px;
}

.container {
  margin: 100px;
}

.current-city {
  font-size: 35px;
  font-weight: 750;
  line-height: 35px;
}
.current-description {
  text-transform: capitalize;
}

.info-weather {
  list-style: none;
  font-size: 13px;
  font-weight: 200px;
  line-height: 20px;
  margin-top: 10px;
  margin-left: 5px;
  padding: 0;
}

.current-weather {
  font-size: 35px;
  font-weight: 750;
  line-height: 35px;
}

.current-weather img {
  width: 45px;
  height: 45px;
  margin-right: 3px;
}
.current-weather .units {
  position: relative;
  font-size: 13px;
  font-weight: 750;
  top: -15px;
  left: -5px;
}
.celsius {
  text-decoration: none;
  color: black;
}

.farhenheit {
  text-decoration: none;
  color: black;
}
